body, html{
	background:#e6e8fa;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: coursive;
}



@import 'home_.scss';
@import 'admin_.scss';
@import 'header_.scss';
@import 'footer_.scss';